
.header-pagina{
   background-color: #e1b3c4;
   color: #631a35;
}
.menu-principal{
    background-color: #ccc;
}
.boton{
    background-color: #631a35;
    color: #ffffff;
}
article{
    background-color: #f0dae2;
}
footer{
    background-color:#9e3838;
}